html,body{
    transition:background-color 0.5s ease-in-out;
}
#base{
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
#base>.main{
    transition:background-color 0.5s ease-in-out;
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
#base>.panel{

}